# Application
NODE_ENV=development
PORT=3010

# Database
DATABASE_URI=mongodb://localhost:27017/data-analyser

# Redis
REDIS_URL=redis://localhost:6379

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=3600s

# CORS
CORS_ORIGIN=*

TELEGRAM_BOT_TOKEN=8292129159:AAEDbJu-nKOeDerYFFGJPF8GfverEiqc1Q4
TELEGRAM_DEFAULT_CHAT_ID=-4769746154

# Swagger
SWAGGER_TITLE=DATA ANALYSER
SWAGGER_DESCRIPTION=A comprehensive NestJS boilerplate with MongoDB, Redis, JWT Auth, and Generic CRUD Service
SWAGGER_VERSION=1.0
SWAGGER_PATH=docs